/* === pages/home.css === */

main img {
    width: 20%;
    min-width: 200px;
    height: auto;
    margin: 30px 0px 70px 20px;
}

section h1 {
    font-size: 3em;
    text-align: center;
    margin: 80px 0px 80px 0px;
}

main img.icon {
    width: 30px;
    min-width: unset;
    height: auto;
    margin: auto;
}

section h2 {
    font-size: 2em;
    margin-left: 270px;
}

section p {
    font-size: 1.2em;
    margin: 10px 0px -100px 260px;
}

section#promocoes h1 {
    font-size: 3em;
    text-align: center;
    margin: 80px 0px 130px 0px;
}

section#promocoes h2 {
    font-size: 2.2em;
    margin: 30px 0px 20px 40px;
    max-width: 520px;
}

section#promocoes p {
    font-size: 1.2em;
    margin: 30px 0px 30px 40px;
    max-width: 420px;
}

section#promocoes > article > img {
    width: 40%;
    height: auto;
    margin: -200px 0px 100px 525px;
}
